.full-container-page {
    padding: 15px;
}

.radio-button-group {
    display: flex;
    border-bottom: 1px solid #0707071A;
    padding: 10px;

}
.back-product22 h1{
    margin-left:50px ;
    color: #007BFF;
}
.swal-confirm-button{
    background: rgba(255, 45, 85, 1);

}
.item-header2 p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    display: flex;
    flex-direction: row;
    /* gap: 20px;  */
}

.radio-option {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    padding: 0px 10px 0px 10px;
    justify-content: center;
    border-right: 2px solid #0707071A;
}

.radio-option input[type="radio"] {
    display: none;
}

.custom-radio {
    width: 16px;
    height: 16px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-option input[type="radio"]:checked+.custom-radio::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #FF0000;
    /* Customize this color as needed */
    border-radius: 50%;
}

.radio-option:hover .custom-radio {
    border-color: #007bff;
    /* Customize this color as needed */
}
.radio-button-group {
    display: flex;
    overflow-x: auto;
    gap: 20px; /* Adjust the space between radio buttons */
    padding: 10px 0; /* Add padding for better appearance */
  }
  
  .radio-option {
    flex-shrink: 0; /* Prevent the items from shrinking */
  }
  

.container-para h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 30px;


}

.container-para p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;

}

.product-form-container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    /* font-family: Arial, sans-serif; */

}

.product-form-container h1 {
    align-content: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    border: solid red;

}

.product-form {
    /* font-family: Arial, sans-serif; */
    color: #333;
    padding: 20px;

}

.ba-in {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #ff7a00;
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */

}

.basic-details {
    display: flex;
    flex-direction: row;
    gap: 60px;

}

.form-section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;


}

.form-section1 input {
    /* width: 350px; */
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.form-section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    /* margin-left: 20px; */
}

/* .form-section2 select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;

} */
.form-section2 select {
    width: 100%;
    padding: 10px;
    padding-right: 30px; 
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
  }
  

.form-section3 {
    width: 100%;
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px;

}

.form-section3 input {
    /* width: 220px; */
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

label {
    /* display: block; */
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    margin-bottom: 5px;
}

.file-upload {
    margin-top: 10px;
    width: 100%;
    /* height: 190px; */
    gap: 6px;

}
.google-content{
    border: 1px dashed #ccc;
    border-radius: 15px;
}

.file-upload-box {
    border: 1px dashed #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    color: var(--textColor-default, #0B0B0B);
    position: relative;
    cursor: pointer;
    margin-top: 10px;

}
.file-upload-box:hover {
    border: 1px dashed  rgb(7, 72, 203);
    background: rgba(240, 245, 255, 1);
    color: var(--textColor-default, #0979f1);
    border-radius: 12px;
}

.upload-icon {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    color: #007bff;
    font-size: 30px;

}

.file-upload-box span {
    color: #007bff;
    cursor: pointer;
}

.file-note {
    margin-top: 5px;
    font-size: 12px;
    color: #070707A6;

}

.image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 20px;
    
}

.image-preview-box {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.preview-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
   
}

.form-section4 {
    width: 100%;
    margin-top: 50px;

}

.form-section4 h2 {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    margin-top: 20px;

}

.pricing-section {
    display: flex;
    flex-direction: row;
}

.form-section5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.pricing-section input {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.details-section h3 {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #ff7a00;

}



.product-form-page {
    display: flex;
    /* font-family: Arial, sans-serif; */
    /* border: 1px solid #0707071A; */
    border-radius: 10px;
    margin: 40px 80px;

}

.sidebar-menu {
    position: static;
    width: 324px;
    height: auto !important;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    /* font-family: Arial, sans-serif; */
    overflow: hidden;
    border-radius: 16px 0px 0px 16px;
    border-right: none;
    /* border: 1px 0px 1px 1px; */
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background: #0707070D;
    border-bottom: 1px solid #0707071A;


}

.category-title {
    font-size: 14px;
    font-weight: bold;
    color: #6A00FF;
    text-transform: uppercase;

}

.change-button {
    font-size: 12px;
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* border-bottom: 1px solid #0707071A; */

}

.menu-list :last-child {
    border: none;
}

.menu-item {
    font-size: 14px;
    color: #070707CC;
    padding: 12px;
    /* border-radius: 4px; */
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #0707071A;
    border-left: 1px solid #0707071A;
}
.menu-item:last-child{
    border-bottom: 1px solid #0707071A;
    border-left: 1px solid #0707071A;
    border-radius: 0px 0px 0px  20px;



}


.menu-item.active,
.menu-item:hover {
    box-shadow: 2px 0px 0px 0px #FF0000 inset;
    background: linear-gradient(90deg, #FFEBEB 0%, #FFF 100%);
    font-weight: 500;
    color: #FF0000;
}

.main-content {
    flex: 1;
    /* padding: 20px; */
    border: 1px solid #0707071A;
    overflow: hidden;
}


.details-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.product-details-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;

}

.title-input {
    width: 98%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.detail-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

}

.detail-row input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.delete-btn {
    border: none;
    background-color: transparent;
}

.delete-btn svg {
    color: red;
    border: none;
    background: none;
    cursor: pointer;
    width: 23px;
    height: 28px;
}

.add-row-btn1 {
    color: #2F6FED;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background-color: white !important;
    border: none !important;
    cursor: pointer;
    align-items: center;
    display: flex;


}

.delete-card-btn1 {
    color: red;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background-color: white !important;
    border: none !important;
    cursor: pointer;
    display: flex;
    align-items: center;


}

.btn-add-del {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.add-section-btn {
    display: flex;
    width: 30%;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid red;
    color: red;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    margin: auto;
}

.publish-button {
    width: 30%;
    font-size: 1rem;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.publish-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FF2D55;
    color: white;
    padding: 5px 3px 5px 3px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid red;
    box-shadow: 0px 1px 0px 1px var(--OverlaysWhiteAlpha10) inset;
    box-shadow: 0px 6px 4px -4px var(--OverlaysWhiteAlpha8) inset !important;
    box-shadow: 0px -1px 0.5px 1px var(--OverlaysBlackAlpha8) inset;
    

}

.date-picker-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;

}

.date-picker-label {
    color: #333;

}
.location-input{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 12px;
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
   
}
.location-input:focus{
border: none;
text-decoration: none;
}

.date-picker-wrapper {
    /* width: 30%; */
    position: absolute;
    display: flex;
    
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 12px;
    background-color: #fff;
    cursor: pointer;
}

.date-picker-input {
width: 100%;

}

.date-picker-input::placeholder {
    color: #999;
}
.location-icon{
    font-size: 18px;
    color: #333;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 60px;
}
.calendar-icon {
    position: relative;
left: 34%;
bottom: -6px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    /* margin-left: auto; */
}

.calendar-icon:hover {
    color: #555;
}

/* Style for react-datepicker */
.react-datepicker {
    /* font-family: Arial, sans-serif; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.react-datepicker__header {
    background-color: #f7f7f7;
    border-bottom: none;
}

.react-datepicker__current-month {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    text-align: center;

}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    font-size: 14px;
    color: #333;
}

.react-datepicker__day:hover {
    background-color: #f0f0f0;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: #007bff;
    color: #fff;
}

.react-datepicker__day--today {
    font-weight: bold;
    color: #007bff;
}


@media (min-width: 768px) and (max-width: 1024px) {

.product-form-page {
    display: flex;
    /* flex-direction: column; */
    /* font-family: Arial, sans-serif; */
    /* border: 1px solid #0707071A; */
    border-radius: 10px;
    margin: 40px 80px;

}


.date-picker-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.basic-details {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.pricing-section{
    display: flex;
    flex-direction: column;
}
.calendar-icon {
    left: 37%;

}
.detail-row{
    display: flex;
    flex-direction: column;
}
.add-section-btn {
  width: 100%;
}

}

@media (min-width: 320px) and (max-width: 767px) {
    .product-form-page{
        display: flex;
        flex-direction: column;
    }
    .sidebar-menu{
        width: 100%;
        border-right: 1px solid #e0e0e0;
        border-radius: 16px 16px 0px 0px; 
      }
    .menu-item:last-child{
        border-left: none;
        border-bottom: none;
    }
    .basic-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }
    
.date-picker-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.calendar-icon {
    left: 37%;

}
.detail-row{
    display: flex;
    flex-direction: column;
}
.pricing-section{
    display: flex;
    flex-direction: column;
}
.add-section-btn {
    width: 100%;
  }
  .publish-button{
    width: 80%;
  }
  .detail-row input{
    width: 100%;
  }
  .product-form-page{
  
  margin: 10%;
  }
}

