.sidebar {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 31%;
}

.delivery-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .required-input::placeholder {
    color: #999;
  }
  
  .input-wrapper::after {
    content: "*";
    color: red;
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    left: 50%;
    /* transform: translateY(-50%); */
    font-size: 16px;
    pointer-events: none; /* Allows clicks to pass through */
  }
  
.form-select {
    display: flex;
    gap: 10px;
  }
  
  .form-select-item {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .form-select-item:hover {
    background-color: #f0f0f0 !important;
  }
  
  .form-select-item.selected {
    background-color: #F0F5FF;
    color: black;
    border-color: #2F6FED;
  }

.delivery-context {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: auto;
    height: 34px;
    color: #070707;
    text-align: center;
    align-items: center;

}
.delivery-context span{
    /* margin-bottom: 17px; */
}

.address-edit {
    /* border: 1px solid red; */
    padding-top: 1px;
    cursor: pointer;
}

.delivery-to {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #2F6FED;
}

.delivery-context span {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 13px; */
    height: 20px;
    padding: 5px;
    border-radius: 6px;
    background: #0707071A;


}


.address-card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 130px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #0707071A;
    /* border: 1px solid red; */
}

.address-context {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* height: 36px; */
    /* border: 1px solid red; */
}
.address-context h4{
    color: rgba(7, 7, 7, 1);
    font-weight: 500;
    font-size: 14px;

}

.address-context p {
    /* border: 1px solid red; */
    height: 20px;
    /* margin-top: 20px; */
}
.address-context span{
    width: 54px;
height: 20px;
padding: 0px 6px 6px 6px;
gap: 8px;
border-radius: 6px;
background: rgba(7, 7, 7, 0.1);

}
.address-button {
    width: 100%;
    padding: 12px;
    background: rgba(255, 45, 85, 1);
    border: 1px solid rgba(255, 45, 85, 1);
    box-shadow: 0px 1px 0px 1px var(--OverlaysWhiteAlpha10) inset;

box-shadow: 0px 6px 4px -4px var(--OverlaysWhiteAlpha8) inset;

box-shadow: 0px -1px 0.5px 1px var(--OverlaysBlackAlpha8) inset;

    color: #fff;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    
}

.form-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-select span {
    border: 1px solid red;
    width: 27%;
    text-align: center;
    padding: 8px;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid #0707071A;
    cursor: pointer;

}
.form-select span:hover{
    background: #6e77f5;
}

.address-form {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
   

}

.text-input {
    width: 97%;
    height: 40px;
    padding: 8px;
    padding-left: 10px;
    border-radius: 12px;
    border: 1px solid #0707071A;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}