/* Container */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  /* height: 100vh; */
  background-color: #f4f4f9;
}
/* .input {
  border: 2px solid #ccc; 
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s ease-in-out;
  padding-left: 50px; 
  height: 40px;
  font-size: 16px;
  width: 100%;
} */

.input.invalid-input {
  border: 2px solid red !important; 
  /* background-color: #ffe6e6 !important; */
  box-shadow: 0 0 2px rgb(212, 120, 120) !important;
}

.invalid-number{
  color: red !important;

}

.login-logo {
  width: 150px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 24%;
  
}

/* Blur background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  backdrop-filter: blur(5px); /* Blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999; /* Higher than dropdown */
}


/* Modal content */
.modal-content {
  background: #ffffff;
  /* padding: 20px; */
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width:30%;
  /* max-width: 600px; Maximum width */
  animation: fadeIn 0.3s ease-in-out;
  position: relative;
}

/* Close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 5%;
  font-size: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.login-first {
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}

/* Login Card */
.login-card {
  text-align: center;
  background: #FFFFFF;
  width: 100%;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px #0000000F;
  box-shadow: 0px 1px 3px 0px #0000001A;
  border: 1px solid #0707071A;
}

/* Logo */
.logo {
  font-size: 24px;
  color: #FF0000;
  font-weight: bold;
  margin-bottom: 10px;
 
}

/* Subtitle */
.subtitle {
  font-size: 20px;
  color: #070707;
  margin-bottom: 20px;
 
}

/* Tab Container */
.tab-container {
  display: flex;
  margin-bottom: 20px;
  
}

/* Tabs */
.tab {
  flex: 1;
  padding: 4px 8px;
  background: #f0f0f0;
  color: #666;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 16px;
 
}

.tab.active {
  background: #007bff;
  color: #fff;
}

.tab.inactive {
  background: #f0f0f0;
  color: #666;
}

/* Input Fields */
.input {
  width: 100%;
  padding: 7px 46px;
  margin: 10px 0;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px #0000000D;
  border: 1px solid #ccc;
  
}

/* Buttons */
.button {
  width: 100%;
  padding: 7px 16PX;
  background: #FF2D55;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
}
.button:disabled {
  background-color: #cccccc; /* Gray color for disabled state */
  cursor: not-allowed;
}
.or-text {
  margin: 15px 0;
  color: #666;
  font-size: 14px;
}

/* Google Button */
.google-button {
  width: 100%;
  padding: 9px 16px;
  background: #FFFFFF;
  color: #070707;
  box-shadow: 0px 1px 2px 0px #1018280D;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #07070726
}

.google-icon {
  width: 23px;
  height: 24px;
  margin-right: 10px;
}

.login-p1 {
  display: flex;
  font-size: 14px;
  color: #070707;
  font-weight: 500;
}

.login-p2 {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.login-para {
  display: flex;
  justify-content: space-between;
}

/* Footer Text */
.footer-text {
  margin-top: 20px;
  font-size: 14px;
  color: #666;

}

.footer-text .link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

/**/

.forgot-password-heading {
  font-size: 18px;
  font-weight: 700;
  color: #070707;

}

.back-to-login {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.country-code {
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  .modal-content {
    width:70%;
  }
  .login-logo{
    margin-left: 10%;
  }
}

