.sidememubar {
  background: none;
  border: none;
  text-align: center;
}

.menu-item1 {
  min-width: 300px;
  min-height: 572px;
  gap: 0px;
  border-radius: 16px 0px 0px 16px;
  border: 1px 0px 1px 1px;
  opacity: 0px;
  display: inline-flex;
  flex-direction: column;

}

.menu-item1 button {
  height: 20px;
  gap: 0px;
  opacity: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: #070707;

}

.sidemenubar .bar,
.sidemenubar .profile_heading_header {
  min-height: 44px;
  padding: 12px;
  display: inline-flex;
  font-family: sans-serif;
  align-items: center;
  gap: 8px;
  border: 0px 0px 1px 0px;
  background: #07070700;
  border-bottom: 1px solid #0707071A;
  border: 1px solid #07070726;
  border-right:none;
  cursor: pointer;

}

.sidemenubar .profile_heading_header {
  padding: 0 12px !important;
  cursor: initial;
  background: #0707070D;
  border-radius: 16px 0px 0px 0px;

}

.profile_heading_header .title {
  margin: 0;
}

.sidemenubar .bar.active {
  box-shadow: 2px 0px 0px 0px #FF0000 inset;
  background: linear-gradient(90deg, #FFEBEB 0%, #FFFFFF 100%);
  font-weight: 700;

}

.bar.active span {
  color: #FF2D55;
}

.sidebar_title_text1{
  /* font-family: Poppins; */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

/* Responsive styles for tablet */
@media (max-width: 768px) {
  .sidmenuebar {
    /* width: 200px; */
    /* Adjust sidebar width for tablet */
  }

  .menu-item {
    font-size: 14px;
  }
}

/* Responsive styles for mobile */
@media (max-width: 480px) {
  .sidmenuebar {
    width: 80%;
    /* Full width on mobile */
    min-height: 60px;
    /* Adjust height for mobile */
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-right: none;
    border-top: 1px solid #ddd;
  }

  .menu-item {
    flex-direction: column;
    font-size: 12px;
    margin: 0;
    min-width: 200px;
    border-radius: 16px 0px 0px 0px;
  }
}