@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
  img {
    border: none;
    outline: none;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html, body {
  overflow-x: hidden;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-weight: 400; */
  font-size: 14px;
  /* overflow-x: hidden; */
}
.nav-font{font-size:14px; }

.item-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;
  font-size: 16px;
  margin:0;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  padding: 12px 16px 12px 16px;
  gap: 16px;
  background: #F0F5FF;
  border-bottom: 1px solid #0707071A;
  height:44px;
  cursor:pointer;
  border-radius: 0 16px 0 0;
}
.cart-hover-shadow {
  box-shadow: 
    0px 1px 0px 1px var(--OverlaysWhiteAlpha10) inset,
    0px 6px 4px -4px var(--OverlaysWhiteAlpha8) inset,
    0px -1px 0.5px 1px var(--OverlaysBlackAlpha8) inset;
}

.item-header1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;
  font-size: 16px;
  margin:0;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  padding: 12px 16px 12px 16px;
  gap: 16px;
  background: #F0F5FF;
  border-bottom: 1px solid #0707071A;
  height:44px;
  cursor:pointer;
  border-radius: 0 16px 0 0;
}
/* Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hides scrollbar in IE, Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

/* Global CSS */
.shimmer {
  background: linear-gradient(
    to right,
    #eeeeee 0%,
    #dddddd 20%,
    #eeeeee 40%,
    #eeeeee 100%
  );
  background-size: 800px 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-spin-slow {
    animation: spin 1.5s linear infinite;
  }
  .animate-spin-reverse-slower {
    animation: spin-reverse 2.5s linear infinite;
  }

  @keyframes spin-reverse {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
  }
}




@media (min-width: 320px) and (max-width: 768px) {
  .item-header{
    font-size: 13px;
  }
}
